<div class="side">
    <div class="txt">
    <mat-icon>school</mat-icon>
   
     <span>EDU-ACM</span>
    </div>
</div>
<div>
    <div class="profile">
        <img src="https://t3.ftcdn.net/jpg/01/02/51/70/360_F_102517057_4Tedp0gKwCkWwu54kKni0GZ0DqIWe5MY.jpg" alt="no images">
        <h4>EDU-ACM</h4>
    
    </div>
    <div class="next">
        <h6>eduacm12@gmail.com</h6>
    </div>
</div>
<mat-divider></mat-divider>
<div class="pages">
    <h3>Pages</h3>
    <a routerLink=""><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a routerLink="event-management"> <mat-icon>event_note</mat-icon>Event-management</a>
    <a routerLink="courses"> <mat-icon>school</mat-icon>Courses</a>
    <a routerLink="professors"> <mat-icon>man 2</mat-icon>Professors</a>
    <a routerLink="departments"> <mat-icon>domain</mat-icon>Departments</a>
    <a routerLink="students"> <mat-icon>groups</mat-icon>Students</a>
    <a routerLink="libraries"> <mat-icon>local_library</mat-icon>Libraries</a>
    

</div>
<mat-divider></mat-divider>
<div class="pages">
    <h3>Tools</h3>
    <a routerLink="contacts"><mat-icon>contacts</mat-icon>Contacts</a>
    <!-- <a routerLink="lead"><mat-icon>leaderboard</mat-icon>Leads</a> -->

</div>

