<!-- card -->
<div class="cards">
    <!-- card 1 -->
    <mat-card>
        <app-cards
        bg="black"
        icon="groups"
        description="Students"
        count="650"
        increase="20% increase in 28 days"></app-cards>
    </mat-card>

    <!-- card 2 -->
    <mat-card>
        <app-cards 
        bg="blue"
        icon="supervisor_account"
        description="Professors"
        count="50"
        increase="10% increase in 28 days"></app-cards>
    </mat-card>

    <!--card 3  -->
    <mat-card>
        <app-cards
        bg="yellow"
        icon="diversity_3"
        description="New Students"
        count="60"
        increase="40% increase in 28 days"></app-cards>
    </mat-card>

    <!-- card 4 -->
    <mat-card>
        <app-cards
        bg="green"
        icon="school"
        description="courses"
        count="25"
        increase="10% increase in 28 days"></app-cards>
    </mat-card>

      <!-- card 4 -->
      <mat-card>
        <app-cards
        bg="orange"
        icon="attach_money"
        description="Fee collection"
        count="80,000"
        increase="50% increase in 28 days"></app-cards>
    </mat-card>

</div>


<div class="line">

    <!-- line-chart -->

    <app-line-chart></app-line-chart>
</div>

<div class="pie-area">
    <!-- pie chart -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
   <!-- area -->
   <div>
    <app-area-chart></app-area-chart>
</div>
</div>
<!-- table -->
<div>
    <app-tables></app-tables>
</div>

